PORT=5000
NODE_ENV=development

SUPABASE_URL=https://your-supabase-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

JWT_SECRET=generate-using-crypto-randomBytes-64
JWT_EXPIRES_IN=2h

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_strong_password_in_prod

FRONTEND_URL=http://localhost:3000
ADMIN_WHATSAPP_NUMBER=919833088958

R2_ACCOUNT_ID=85dadbac01e036f99f0ece3c8b732ae4
R2_ACCESS_KEY_ID=e7e8e44a49c0d5452ef80cd3995692d0
R2_SECRET_ACCESS_KEY=8527bc7cec88e387d81c312b236cd83fe033de1c944deb54fc9a8e2b883ed675
R2_BUCKET_NAME=akik-product-images
R2_PUBLIC_URL=https://pub-399b3c81ebaf42c0ab008d23d61305f3.r2.dev